.navbar-default, .navbar-brand, .navbar-nav>li>a{
    background-color: #9a0007 !important;
    color: white !important;
}
.navbar{
    margin-bottom: 0px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #d32f2f !important;
}
.dropdown-menu {
    width: 100%;
}
.dropdown-menu>li>a:hover {
    background-color: #d32f2f !important;
    opacity: .8;
}
.navbar-default {
    border-radius: 0;
}